:root
{
    --mobile-heler-lens-size: 150px;
}

.in-use {
    opacity: 0.5;
}

.helper-lens {
    transition-property: opacity;
    transition-duration: 0.4s;
    width: 150px;
    height: 150px;
    opacity: 1;
}
