.scroll-lock-view__lock {
    height: 100%;
    width: 50px;
    background-image: url("project://database/Assets/UIBeginner/ToolTipProject/Icon/lock.png?fileID=2800000&guid=23640369944c8a64ca4280cf2b33857d&type=3#lock");
    margin-right: 35px;
}

.scroll-lock-view__lock-unlocked {
    height: 100%;
    width: 50px;
    background-image: url("project://database/Assets/UIBeginner/ToolTipProject/Icon/unlock.png?fileID=2800000&guid=b2ef5b9e837a60c46a431762976fa4f1&type=3#unlock");
    margin-right: 35px;
}

.scroll-lock-view__lock-auto-lock {
    height: 100%;
    width: 50px;
    background-image: url("project://database/Assets/UIBeginner/ToolTipProject/Icon/auto-lock.png?fileID=2800000&guid=e4453f8cee2cca24b947e114c7cafbe6&type=3#auto-lock");
    margin-right: 35px;
}
