ScrollView .unity-scroll-view__content-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ScrollView {
    width: 80%;
    height: 150px;
    align-self: center;
}

.in-use {
    opacity: 1;
}

.not-use {
    transition-property: opacity;
    transition-duration: 0.4s;
    opacity: 0.5;
}
